section.introduction {
    display: flex;
    height: 500px;
    padding: 0px 20px;
    align-items: center;

}

.introduction .thumb img {
    height: 450px;
    width: 100%;
}

.introduction .text-intro {
    width: calc(100% - 470px);
    height: 400px;
}

.introduction .text-intro h1 {
    font-size: 29px;
}

.introduction .text-intro p {
    margin-top: 20px;
    color: #777777;
}

.text-intro .btn-intro {
    margin-top: 50px;
    display: flex;
}

.text-intro .btn-intro a {
    text-decoration: none;
}

.text-intro .btn-intro .btn-listen {
    background-color: #3bc8e7;
    color: #fff;
    border-radius: 20px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px;
    height: 40px;
    width: 100%;
    margin-right: 25px;
    margin-left: 0;
    max-width: 150px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.rcnt_slider .view-all {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
}

.rcnt_slider .heading .view-all a {
    color: #fff;
    text-decoration: none;
}

.rcnt_slider .heading .view-all a:hover {
    color: #2ec8e6;
    text-decoration: none;
}

.album {
    display: flex;
    height: max-content;
}

.album a {
    text-decoration: none;
}

.album .album-item {
    padding: 5px;
    width: 20%;
    
}

.album .album-item img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.album .album-item h2 {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}

.album .album-item p {
    color: #fff;
    font-size: 14px;
}

.artist {
    display: flex;
    height: max-content;
}

.artist a {
    text-decoration: none;
}

.artist .artist-item {
    padding: 5px;
    width: 20%;
    
}

.artist .artist-item img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.artist .artist-item h2 {
    margin-top: 20px;
    color: #3bc8e7;
    font-size: 14px;
}

.artist .artist-item p {
    color: #fff;
    font-size: 14px;
}

.bxh-item .bxh-ranking {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin: auto 0;
}

.bxh-item {
    border-bottom: 1.5px solid #1b2039;
    position: relative;
}

.bxh-item .info-bxh {
    width: 20%;
    text-align: left;
    margin: auto 0;
    display: flex;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
}

.bxh-item .info-bxh:hover{
    cursor: pointer;
    text-decoration: underline
}

.add-to-playlist-wrap {
    border: 0;
    background-color: transparent;
    margin: auto 0;
    color: #fff;
    font-size: 18px;
    display: none;
}

.btn-add-to-playlist {
    border: 0;
    background-color: transparent;
    margin: auto 0;
    color: #fff;
    font-size: 18px;
}

.add-to-playlist-wrap:hover .more_option{
    display: block;
}

ul.more_option {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 28px;
    right: 24px;
    display: none;
    background-color: #fff;
    max-width: 172px;
    width: 100%;
    list-style: none;
    padding: 13px 0px 13px 20px;
    text-align: left;
    border-radius: 10px;
    z-index: 100;
    transform: translateX(-15px);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.wrap-add-plalist:hover ul.all-playlist{
    display: block;
}

ul.all-playlist {
    margin: 0px;
    position: absolute;
    top: 28px;
    right: 160px;
    display: none;
    background-color: #fff;
    max-width: 160px;
    width: 100%;
    list-style: none;
    padding: 10px 0px 10px 20px;
    text-align: left;
    border-radius: 10px;
    z-index: 100;
    transform: translateX(-15px);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    text-transform: capitalize;
}

ul.all-playlist::before {
    content: "";
    display: block;
    width: 22px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -22px;
}


ul.more_option a {
    text-decoration: none;
    color: #3bc8e7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.btn-more_option {
    font-weight: bold; 
    font-size: 20px;
}

.album-item .album-ranking {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin: auto 0;
}

.album-item {
    border-bottom: 1.5px solid #1b2039;
    position: relative;
}

.album-item .info-album {
    width: 20%;
    text-align: left;
    margin: auto 0;
    display: flex;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
}

.album-item .info-album:hover{
    cursor: pointer;
    text-decoration: underline
}

.album-item .btn-add-to-playlist {
    border: 0;
    background-color: transparent;
    margin: auto 0;
    color: #fff;
    font-size: 18px;
}

.rcnt_slider .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.rcnt_slider .row .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
  
.rcnt_slider .row .column img {
  margin-top: 8px;
  vertical-align: middle;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .rcnt_slider .row  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .rcnt_slider .row  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.container-the-loai {
    display: flex;
    width: 90vw;
    
}

.panel {
    border-radius: 50px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    cursor: pointer;
    flex: 0.5;
    height: 80vh;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in ;
}

.panel a {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 500;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}

.panel.active {
    flex: 5;
}

.panel.active a {
    pointer-events: visible;
    opacity: 1;
    text-decoration: none;
    color: #3bc8e7;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active a:hover{
    text-decoration: underline;
}

.ss {
    margin: -40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
} 

.btn-profile {
    position: absolute;
    top: 15px;
    right: 50px;
    background-color: #3bc8e7;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    margin: auto 0;
    font-size: 2rem;
}

.footer-bottom {
    height: 80px;
    width: 100%;
    background-color: #1b2039;
}

.main .infor-album {
    width: 100%;
    height: 300px;
}

.main .infor-album img{
    width: 100%;
    height: 250px;
}

.main .infor-album .name-album{
    color: #fff;
}

.main .infor-album .name-album .name{
    font-size: 24px;
    color: #2ec8e6;
    font-weight: bold;
}

.main .infor-album .name-album .btn-playall, .rcnt_slider .btn-playall{
   height: 40px;
   padding: 10px 20px;
   color: #fff;
   background-color: #2ec8e6;
   border-radius: 20px;
   text-decoration: none;
   cursor: pointer;
}

.rcnt_slider .btn-playall {
    margin-left: 20px;
}

.open-option {
    opacity: 1;
}

.close-option {
    opacity: 0;
}

.view-song {
    color: #fff;
    font-size: 18px;
    margin: auto 0;
}

/* Popup thay đổi mật khẩu */
/* The Modal (background) */
.modall {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modall-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
